<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<h2 th:text="'Info: '+${userInfo.getUsername()}"></h2>
<br>
<div>
    <table th:border="1">
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>Department</th>
            <th>Phone number</th>
            <th>Roles</th>
        </tr>

        <tr th:each="user : ${userInfo}">
            <td th:text="${user.getLastName()}">Surname</td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getDepartment()}">Department</td>
            <td th:text="${user.getPhoneNumber()}">Phone number</td>
            <td th:each="role:${user.roles}" th:text="${role.roleName}">Roles</td>
        </tr>
    </table>
</div>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>